*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;

}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 9%;
    background: #131212c9;
}

.chargebuddytext{
    font-size: 20px;
    font-weight: 700;
    color: white;

}

.navlist{
    display: flex;
}

.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;

}

.navlist a:hover{
    border-bottom: 2px solid white;
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

#home{
    scroll-margin-top: 80px;
}

#platform{
    scroll-margin-top: 220px;
}

#chargeBuddyWelcome{
    scroll-margin-top: 220px;
}

#about{
    scroll-margin-top: 700px;
}
#innovation{
    scroll-margin-top: 700px;
}
#contact{
    scroll-margin-top: 500px;
}
#copyright{
    scroll-margin-top: 100px;
}
#partner{
    scroll-margin-top: 20px;
}

body{
    background: linear-gradient(245.59deg,#d6dad6 0%, #1b1b1b 28.53%, #000000 75.52%);
    margin: 0px;
}

.introduction{
    height:100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    padding: 0 15%;
}

.content{
    height:100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 2rem;
    padding: 0 0%;
}

.partner{
    height:100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    padding: 0 7.5%;
}


.text{
    padding: 0 10%;
    color: white;
}


.text h5{
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-bottom: 0px;
}

.text h6{
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: underline;
}

.text h7{
    font-size: 14px;
    font-weight: 400;
    color: rgb(6, 223, 6);
    text-decoration: underline;
}

.text h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}

.text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 20px;
}

.text a {
    display: inline-block;
    color: white;
    background: #7AE058;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.text a:hover{
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}


.text a.bulb{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.text a.fh{
    background: #7AE058;
    border: 1px solid white;
    margin-left: 20px;
    
}

.text a.bulb i{
   vertical-align: middle;
   margin-right: 5px;
   
   
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.logo-img img{
    width: 500px;
    height: auto; 
    margin-top: 15%;  
}

.platform-img img{
    max-width: 100%;
    height: auto;   
}

.about-img img{
    max-width: 100%;
    height: auto;   
}

.innovation-img img{
    max-width: 100%;
    height: auto;   
}
.contact-img img{
    max-width: 100%;
    height: auto;   
}
.copyright-img img{
    max-width: 100%;
    height: auto;   
}

.icons {
    position: fixed;
    bottom: 2%;
    left: 3%;
    
    
}

.icons i{
    display: inline;
    justify-content: space-between;
    margin:  0 16px;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}
.icons i:hover{
color: #7AE058;
transform: translateY(-5px);

}

#footer {
    width:100%;
    padding:10vh 0px;
    text-align:center;
    color: white;
}
#footer a {
    font-size:18px;
    background-image: linear-gradient(to left, #eee8ea 0%, #ffffff 100%);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size:500% 500% ;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    font-family: 'Comfortaa', cursive;
    text-decoration:none;
    font-weight: bold;
}

.scroll-down{
    position: fixed;
    bottom: 2%;
    right: 3%;

}

.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #7AE058;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-down i:hover{
    transform: translateY(-5px);
}
.vertical::-webkit-scrollbar {
    width: 10px;
  }
  
 
.vertical::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px black; 
    border-radius: 10px;
  }
   
.vertical::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 5px;
  }
  
.vertical::-webkit-scrollbar-thumb:hover {
    background: #7AE058; 
  }

@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        left: 1%;
        transition: .2s;
    }
    .scroll-down{
        right: 1%;
        transition: .2s;
    }
}

@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1460px){
    .logo-img img{
         width: 100%;
        height: auto;
    }
    .text h1{
        font-size: 75px;
        margin: 0 0 30px;

    }

    .text h5 {
        margin-bottom: 25px;
    }

}

@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }

    .text{
        padding-top: 115px;
    }

    .logo-img{
        text-align: center;
    }

    .logo-img img{
        width: 520px;
        height: auto; 
    }

    .introduction{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .icons {
        display: none;
    }

    .scroll-down{
        display: none;
    }

}




@media (max-width: 990px){
    #menu-icon{
        display: block;
    }

    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 40vh;
        background: #7AE058;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }

    .navlist.open{
        right: 0

    }


}

@media (max-width: 680px){
    .logo-img img{
        width: 100%;
        height: auto;
        margin-top: -40px;
        margin-bottom: 10px;
    }

    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 60vh;
        background: #7AE058;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }

    .navlist.open{
        right: 0

    }
    .text h1{
        font-size: 35px;
        margin: 0 0 15px;

    }

    .text h4 {
        margin-bottom: 2px;
        margin-top: 0px;
    }

    .text h5 {
        margin-bottom: 10px;
    }

    .text p{
        margin-bottom: 10px;
    }

    .platform-img img{
        margin-bottom: -80px;
    }
    
    .about-img img{
        margin-bottom: -80px;
    }
    
    .innovation-img img{
        margin-bottom: -80px;  
    }
    .contact-img img{
        margin-bottom: -80px;  
    }
    .copyright-img img{
        margin-bottom: -80px;
    }

    #home{
        scroll-margin-top: 80px;
    }
    
    #platform{
        scroll-margin-top: 220px;
    }
    
    #about{
        scroll-margin-top: 500px;
    }
    #innovation{
        scroll-margin-top: 400px;
    }
    #contact{
        scroll-margin-top: 400px;
    }
    #copyright{
        scroll-margin-top: 100px;
    }
    #partner{
        scroll-margin-top: 20px;
    }
}